/vendor/*
/stellar-live/*
/stellar-live/*.cfg
/stellar-db-opencore/*
/stellar-db-testnet/*
/stellar-db_fred/*
/stellar-db/*
/stellar-db-standalone/*
/stellar-db-testnet_postgres/*
/*.yml
/examples/*.yml
/examples/*.cfg
/examples/secretes2/*
/examples/last_secretes/*
/examples/*.log
/multi-sign-server/vendor/*
/multi-sign-server/*.yml
/multi-sign-server/*-shm
/multi-sign-server/*-wal
/multi-sign-server/*.db
/*.log
/*.cfg


