PEER_PORT= 39133
RUN_STANDALONE=false

HTTP_PORT=39132
PUBLIC_HTTP_PORT=true

PEER_SEED="SB2OCBS2SSXL4DVX6EVUAVCVDP24XCJHAQ3DBCUVV7EXMPG6OUVBCXH6"

VALIDATION_SEED="SBO64RAJ45DYO7MC7PBRXMSDW5SIDM3WRDUQUXE6SUSS6SU57P6F6675"

# will send outbound connections till we are at this number of peer connections
TARGET_PEER_CONNECTIONS=20

# will start dropping peers if above this number of connected peers
MAX_PEER_CONNECTIONS=30

PREFERRED_PEERS=["127.0.0.1:39133"]

COMMANDS=[
"ll?level=debug"
]

DATABASE="sqlite3://stellar.db"

[QUORUM_SET]
THRESHOLD=1
VALIDATORS=[
"GA7BVTHKVK75R6CQ5RD4A6PKP4Q7DYPRUW2MEWXYSPM7YZVSTHA2NYQT"
]

[HISTORY.vs]
get="cp /tmp/stellar-core/history/vs/{0} {1}"
put="cp {0} /tmp/stellar-core/history/vs/{1}"
mkdir="mkdir -p /tmp/stellar-core/history/vs/{0}"
