<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mulit-Sign-WebSocket Client</title>
  <meta charset="UTF-8" />
  <script>
    "use strict";
    // Initialize everything when the window finishes loading
    window.addEventListener("load", function(event) {
      var status = document.getElementById("status");
      var url = document.getElementById("url");
      var open = document.getElementById("open");
      var close = document.getElementById("close");
      var send = document.getElementById("send");
      var get = document.getElementById("get");
      var text = document.getElementById("text");
      var json = document.getElementById("json");
      var send_json = document.getElementById("send_json");
      var message = document.getElementById("message");
      var socket;

      status.textContent = "Not Connected";
      url.value = "ws://zipperhead.ddns.net:9494";
      close.disabled = true;
      send.disabled = true;
      submit_tx.disabled = true;
      get_status_tx.disabled = true;
      search_signable_tx.disabled = true;
      sign_tx.disabled = true;
      //make_witness_unlock.disabled = true;
      send_json.disabled = true;

      // Create a new connection when the Connect button is clicked
      open.addEventListener("click", function(event) {
        open.disabled = true;
        socket = new WebSocket(url.value, "echo-protocol");

        socket.addEventListener("open", function(event) {
          close.disabled = false;
          send.disabled = false;
          send_json.disabled = false;
          submit_tx.disabled = false;
          get_status_tx.disabled = false;
          search_signable_tx.disabled = false;
          sign_tx.disabled = false;
          //make_witness_unlock.disabled = false;
          status.textContent = "Connected";
        });

        // Display messages received from the server
        socket.addEventListener("message", function(event) {
          message.textContent = "Server Says: " + event.data;
        });

        // Display any errors that occur
        socket.addEventListener("error", function(event) {
          message.textContent = "Error: " + event;
        });

        socket.addEventListener("close", function(event) {
          open.disabled = false;
          status.textContent = "Not Connected";
        });
      });

      // Close the connection when the Disconnect button is clicked
      close.addEventListener("click", function(event) {
        close.disabled = true;
        send.disabled = true;
        message.textContent = "";
        socket.close();
      });

      // Send text to the server when the Send button is clicked
      send.addEventListener("click", function(event) {
        socket.send(text.value);
        text.value = "";
      });

       // Send json box to the server when the Send button is clicked
      send_json.addEventListener("click", function(event) {
        socket.send(json.value);
        text.value = "";
      });
      

     //#hash = {"action"=>"submit_tx", "tx_title"=>"test tx", "tx_envelope_b64"=>"AAAA..."}
     submit_tx.addEventListener("click", function(event) {
        var action = '{"action":"submit_tx","tx_title":"';
        var tail = '"}';
        socket.send(action + tx_title.value + '","tx_envelope_b64":"' + b64.value + tail);
        tx_title.value = "enter tx title here";
      });

     get_status_tx.addEventListener("click", function(event) {
        var action = '{"action":"status_tx","tx_code":"';
        var tail = '"}';
        socket.send(action + txid.value + tail);
        txid.value = "enter txid here";
      });

     search_signable_tx.addEventListener("click", function(event) {
        var action = '{"action":"search_signable_tx","account":"';
        var tail = '"}';
        socket.send(action + address.value + tail);
        txid.value = "enter stellar address here";
      });

     sign_tx.addEventListener("click", function(event) {
        var action = '{"action":"sign_tx","tx_envelope_b64":"';
        var tail = '"}';
        socket.send(action + b64_b.value + '","tx_code":"' + tx_code.value + tail);
        b64_b.value = "enter signed envelope here";
      });


    });
  </script>
</head>
<body>
  Submit  Multi sign TX to mss-server <br />
  For details on mss-server see <a href="https://github.com/sacarlson/stellar_utility/tree/master/multi-sign-websocket">github..multi-sign-websocket</a><br />
  Status: <span id="status"></span><br />
  URL: <input id="url" size="50" /><br />
  <input id="open" type="button" value="Connect" />&nbsp;
  <input id="close" type="button" value="Disconnect" /><br />
____________________________________________________________<br />
  <input id="send" type="button" value="Send" />&nbsp;
Server Status selection:<select name="text" id="text" value='{"action":"core_status"}'>
  <option>'{"action":"version"}'</option>
  <option>'{"action":"core_status"}'</option> 
</select><br />
________________________________________________________________<br />
  Raw JSON input to server: <input id="send_json" type="button" value="send_json" /> 
  <input id="json" size=110 value ='{"action":"broadcast", "test_message":"hello world"}' /><br />
________________________________________________________________<br />
  <input id="submit_tx" type="button" value="submit_tx" />
  Transaction Title:<input id="tx_title" size="50" /><br />
  base64 tx env:<input id="b64" size="130" value="" /><br /> 
_____________________________________________________<br />
 <input id="get_status_tx" type="button" value="get_status_tx" />
  Transaction txid:<input id="txid" size="50" /><br />
_____________________________________________________<br />
<input id="search_signable_tx" type="button" value="search_signable_tx" />
  Stellar address:<input id="address" size="50" /><br />
_____________________________________________________<br />
<input id="sign_tx" type="button" value="sign_tx" />
  Transaction txid signing:<input id="tx_code" size="60" /><br />
  base64 tx env:<input id="b64_b" size="130" value="" /><br /> 
_____________________________________________________<br />
  <div style="width:800px;height:300px;line-height:3em;overflow:scroll;padding:10px;">
 <span id="message"></span>
</div>

  
</body>
</html>
